$foreground: #282828;
$background: #eeeeee;
$secondary: gray;
$tertiary: #dddddd;
$accent: #292929;

$foreground-dark: #eeeeee;
$background-dark: #2f2f2f;
$secondary-dark: #999999;
$tertiary-dark: #444444;
$accent-dark: #e4e4e4;

$link: rgb(147, 147, 147);

$font: 'Oxanium', monospace;

