@media (prefers-color-scheme: light) {
    body {
        @include light-theme;
    }  
}

@media (prefers-color-scheme: dark) {
    body {
        @include dark-theme;
    }  
}

.dark-mode-buttons {
    position: absolute;
    top: 1em;
    right: 1em;
}

.dark-mode-button {
    border: none;
    background-color: transparent;
    &:hover {
        cursor: pointer;
    }
}

body:not(.dark-mode) {
    @include light-theme;
    #dark-mode-on {
        display: inline;
    }
    #dark-mode-off {
        display: none;
    }
    
}

body.dark-mode {
    @include dark-theme;
    #dark-mode-on {
        display: none;
    }
    #dark-mode-off {
        display: inline;
    }
}
