* {
  box-sizing: border-box;
}

:root {
  font-family: 'Oxanium', monospace;
  font-weight: 300;
  line-height: 1.6;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;  
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  
}



#url {
  position: absolute;
  top: 0;
  left: 1em;
  font-size: medium;
  text-decoration: underline;
}

#social {
  font-size: large;
  a {
    padding: .7em;
  }
}

#link {
  color: $secondary;
  transition: .1s;
}
#link:hover {
  color: rgb(119, 0, 231);
  transition: .2s;
}
#footnote {
  font-size: x-small;
  position: absolute;
  color: $secondary;
  right: 1em;
  bottom: 0;
}

@media only screen and (max-width: 540px) {
  :root {
    line-height: 1.4;
  }
  #url {
    font-size: smaller;
  }


  #social {
    padding-bottom: 1em;
  }
  #footnote {
    padding: 2em;
    position:inherit;
    right: 0;
    
  }
}
