:root {
  font-family: 'Orbitron', monospace;
  line-height: 1.6;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/*
#logo{
  animation-name: spin;
  animation-duration: 100000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
*/

#social {
  font-size: large;
  padding: 2em;
  a {
    padding: .7em;
  }
}

#link {
  color: $secondary;
  transition: .5s;
}
#link:hover {
  color: $link;
  transition: .2s;
}
#footnote {
  font-size: x-small;
  position: absolute;
  color: $secondary;
  right: 1em;
  bottom: 0;
  
}

.read-the-docs {
  color: #888;
  padding: 1em;
}

@media only screen and (max-width: 540px) {
  :root {
    
    line-height: 1.4;
  }
  #footnote {
    padding-top: 1em;
    position:inherit;
    right: 0;
    
  }
}