#app {
  margin: 0 auto;
  text-align: center;
  min-width: 320px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: $font;
  font-weight: 300;
  line-height: 1.4;
  
  #content {
    padding: 2em;
  }
  
  #url {
    font-family: monospace;
    position: fixed;
    top: .4em;
    left: 1em;
    font-size: medium;
    text-decoration: none;
  }
  #links {
    padding: 1em;
    font-size: large;
    .link {
      margin: 0 1.2em;
      text-decoration: none;
    
    }
    
    
    
  }
  #source-code {
    position: absolute;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    font-size: small;
  }
}


@media only screen and (max-width: 420px) {
  #intro-text {
    font-size: medium;
    
  }
}

@media only screen and (min-width: 420px) {
  #intro-text {
    padding: 1em;
  }
}
